JConsole
	JDK5.0
		Monitoring    FS		Option		
		Local	      Fat		NA
		Local	      NTFS  	-Dcom.sun.management.jmxremote
		Remote	      NA		-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=8888 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false
					
	JDK6.0
		Local	      FAT&NTFS  NONE(Works by default)
		Remote	      NA		-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=8888 -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false	