[Oo]bj/
[Bb]in/
[Tt]estResults/
Backup/
_UpgradeReport_Files/
Trash/
packages/
*.user
*.vspscc
*.vssscc
*.testsettings
deploy
deploy/*
*.suo
*.cache
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
*.cachefile
UpgradeLog.XML
*csx/

#OS junk files
[Tt]humbs.db
*.DS_Store
*.dll