[Oo]bj/
[Bb]in/
[Tt]estResults/
Trash/
Backup/
Properties/
*.user
*.vspscc
*.vssscc
*.testsettings
*.sublime-project
*.sublime-workspace
deploy
deploy/*
*.suo
*.cache
*.sublime-project
*.sublime-workspace
packages/
msbuild.log
artifacts/log
artifacts/
post-build*
_ReSharper.*
deploy-to-ec2*
*.cachefile
_UpgradeReport_Files/
UpgradeLog.*

#OS junk files
[Tt]humbs.db
*.DS_Store