<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>
	OutboundConnectorTest
    </display-name>
    <servlet>
        <servlet-name>ManagedTestServlet</servlet-name>
        <servlet-class>
		org.mk.training.outboundtest.ManagedTestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NonManagedTestServlet</servlet-name>
        <servlet-class>
		org.mk.training.outboundtest.NonManagedTestServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XATestServlet</servlet-name>
        <servlet-class>
		org.mk.training.outboundtest.XATestServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManagedTestServlet</servlet-name>
        <url-pattern>/ManagedTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NonManagedTestServlet</servlet-name>
        <url-pattern>/NonManagedTestServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>XATestServlet</servlet-name>
        <url-pattern>/XATestServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
</web-app>
